

.lt_history{
    padding: 10px;
    font-size: 12px;
}
.lt_history .title{
    color: #666;
    height: 30px;
    line-height: 30px;
}
.lt_history .title span:nth-child(1){
    float: left;
}
.lt_history .title span:nth-child(2){
    float: right;
}
.lt_history .content{
    border: 1px dashed red;
}
.lt_history .content li{
    height: 30px;
    border-bottom: 1px dashed red;
}
.lt_history .content li:last-child{
    border-bottom: 1px solid transparent;
}
.lt_history .content li a{
    line-height: 30px;
    padding-left: 10px;
}
.lt_history .content li i{
    line-height: 30px;
    display: block;
}
