.lt_aside{
    width: 180px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.lt_aside h3{
    margin: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: #367FA9;
}
.lt_aside .lt_user{
    padding-top: 30px;
    width: 180px;
    height: 180px;
}
.lt_aside .lt_user img{
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
} 
.lt_aside .lt_user p{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.lt_aside .lt_nav{
    
}
.lt_aside .lt_nav a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 40px;
    border-left: 3px solid transparent;
}
.lt_aside .lt_nav span{
    padding-left: 5px;
}
.lt_main{
    overflow: hidden;
    height: 100%;
}