html,body{
    height: 100%;
}
body{
    background-color: #222D32;
}
.container>div{
    margin-top: 150px;
}
.panel-default{
    border: 1px solid #337ab7;
}
.container .panel-heading{
    background-color: #337ab7;
    color: #fff;
    border-bottom: 1px solid #337ab7;
}
.container .panel-heading h3{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}