/* lvha */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mt_20 {
  margin-top: 20px;
}
.red {
  color: #A94442;
}


.lt_aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
  z-index: 999;
  transition: all 1s;
}
.lt_aside.hidemenu {
  left: -180px;
}


.lt_aside .brand {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #367FA9;
}
.lt_aside .brand a {
  color: #fff;
  font-size: 25px;
}
.lt_aside .user {
  padding-top: 30px;
  height: 180px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt_aside .user p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.lt_aside .nav a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
.lt_aside .nav a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.lt_aside .nav a i {
  margin-right: 4px;
}
.lt_aside .nav .child {
  display: none;
}
.lt_aside .nav .child a {
  padding-left: 60px;
}


.lt_main {
  padding-left: 180px;
  padding-top: 50px;
  height: 2000px;
  transition: all 1s;
}
.lt_main.hidemenu {
  padding-left: 0;
}

.lt_topbar {
  width: 100%;
  height: 50px;
  background-color: #3C8DBC;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 180px;
  transition: all 1s;
}
.lt_topbar.hidemenu {
  padding-left: 0;
}
.lt_topbar .icon_left,
.lt_topbar .icon_right {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.echarts_left,
.echarts_right {
  width: 48%;
  height: 400px;
  background-color: skyblue;
}

/* 让表格内容水平垂直居中 */
.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}